<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masa.add"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.masa.add.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.masa.add.activity.SystemOverlayLayerActivity"
            android:label="@string/title_activity_overlay" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.masa.add.activity.SampleActivity"
            android:label="@string/title_activity_sample" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.masa.add.activity.LevelLevelActivity"
            android:label="@string/title_activity_level_level" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.masa.add.activity.LevelLevelLevelActivity"
            android:label="@string/title_activity_level_level_level" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.masa.add.activity.GalleryActivity"
            android:label="@string/title_activity_gallery" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.masa.add.activity.GallerySquareActivity"
            android:label="@string/title_activity_gallery_square" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.masa.add.activity.RunningAppProcessInfoActivity"
            android:label="@string/title_activity_running_app_process_info" >
            <meta-data
                android:name="@string/minVersion"
                android:value="8" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.masa.add.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
        <service android:name="com.masa.add.service.LayerService" ></service>
    </application>

</manifest>